.container-fluid{
  background-color: rgb(200, 218, 252);
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  text-transform: capitalize;
  width: 100vw;
  
}
.heading{
  font-size: 25px;
  margin: 2px;
}
button{
  border-radius: 7px;
  padding: 2px;
  margin: 2px;
  font-size:15px;
  background-color: darkgrey;
  color: black;

}