@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
.heading{
  font-size: 25px !important;
  text-align: center !important;
  font-family: 'Roboto', sans-serif !important;
}
 .btn{
  font-size: 12px !important;
  border-radius: 5px solid black!important;
  font-family: 'Poppins', sans-serif !important;
} 

.loadingDiv{
  position: absolute;
  left: 45%;
  top: 47%;
}
li{
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  align-items: center !important;
  margin: 25px !important;
  padding: 35px !important;
}
